@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: "Libre Franklin", sans-serif;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
}

.header .link {
    color: #EEEEEE !important;
    text-decoration: none !important;
}

nav .socials {
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
}

hr {
    width: 50%;
    opacity: 0.2;
    margin: 0 auto;
}

.profile {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 4rem auto;
    text-align: center;
}

.profile img {
    width: 300px;
    height: 300px;
    border: 0;
    outline: 0;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile p {
    margin: 18px auto;
}

.profile h3 {
    font-size: 24px;
    font-family: "Asap", sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 2px 0 40px 0;
    line-height: 1.5;
}

.profile h3 span {
    color: #76ABAE;
    opacity: 0.8;
}

.profile button {
    margin-top: 2rem;
    padding: 12px 30px;
    border: 2px solid transparent;
    outline: none;
    color: #EEEEEE;
    background-color: rgba(100, 100, 100, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
}

.second {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.second .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; 
}

.second .context {
    padding: 2rem;
    border: 2px solid transparent;
    background-color: rgba(100, 100, 100, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2rem;
}

.context h2 {
    font-size: 36px;
    font-family: "Asap", sans-serif;
    margin-bottom: 20px;
}

.context p {
    letter-spacing: 0.8px;
    line-height: 2rem;
}

.context p a {
    text-decoration: none !important;
    color: #76ABAE;
}


.second .skills {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 800px;
    gap: 2rem;
}

.second .skill-set {
    background-color: rgba(100, 100, 100, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.second .skill-set h3 {
    font-size: 24px;
    font-family: "Asap", sans-serif;
    margin-bottom: 1rem;
    min-height: 2.5rem;
}

.second .skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.second .skills li {
    margin: 0.2rem 0;
}